<template>
  <div class="call__wrapper">
    <div class="call__adding-triangle"></div>
    <div class="call__header-inner">
      Спасибо за Ваши ответы!
      <strong>
        <br />
        Мы подготовили для Вас персональную аудио запись с Вашим прогнозом.
      </strong>
    </div>
    <div class="call__text">
      Вы можете узнать, как повлиять на события, которые ожидают вас в ближайшем
      будущем.
    </div>
    <div class="call__strong-msg">
      Первое значимое событие может произойти уже 14.02.2021, Вам надо быть
      готовым, что бы последствия не оказались необратимыми.
    </div>
    <div class="call__text">
      Нажмите на кнопку ниже прямо сейчас и наберите наш номер телефона.
      Прослушайте важную информацию!
    </div>
    <router-link class="router__link_btn" to="/userprofile">
      <div class="call__button">Позвонить и прослушать</div>
    </router-link>
    <div class="call__footer">
      TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE DIVERTISMENT. PRIN
      FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI,
    </div>
  </div>
</template>

<script>
import thebutton from "../components/TheButton";

export default {
  name: "call-page",
  components: {
    thebutton,
  },
  methods: {},
};
</script>

<style scoped>
.call__wrapper {
  min-height: 568px;
  min-width: 320px;
  background: #202024;
  position: relative;
  padding-top: 15px;
}
.call__header-inner {
  height: 84px;
  width: 259px;
  background: #ffffff;
  border-radius: 5px;
  padding: 10px 12px 0 12px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #202024;
}
.call__adding-triangle {
  height: 15px;
  width: 15px;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
  position: absolute;
  top: 95px;
  right: calc(100vw / 2 - 90px);
}
.call__strong-msg {
  padding-top: 12px;
  width: 259px;
  height: 172px;
  border: 1px solid #ffffff;
  border-radius: 3px;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c866;
}
.call__text {
  margin-top: 23px;
  width: 280px;
  height: 65px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: #ffffff;
}
.call__footer {
  width: 310px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9d9d9d;
}
.router__link_btn {
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.call__button {
  padding-top: 16px;
  background: linear-gradient(
    90deg,
    rgba(76, 217, 100, 0.9) -6.2%,
    rgba(50, 185, 73, 0.9) 100%
  );
  border-radius: 50px;
  width: 240px;
  height: 48px;
}
</style>
