<template>
  <div class="page-wrapper">
    <img class="header__bg-blik" src="../assets/sunblik.png" alt="" />
    <div class="wrap">
      <div class="header">
        <div class="header__up-info textRoboto300-16">
          Лучшие астрологи и экстрасенсы Румынии
        </div>
        <div class="header__result textRoboto300-25">
          Точность прогноза: 97%
        </div>
        <div class="block">
          <img src="../assets/test.png" alt="" class="fotoBlockBorder" />
          <img src="../assets/redwoman.png" alt="" class="fotoInner" />
        </div>
        <div class="header__question textRoboto25-yellow">
          Вас беспокоит вопрос о том, КОГДА ВЫ ПОКИНЕТЕ ЭТОТ МИРИ ПРИ КАКИХ
          ОБСТОЯТЕЛЬСТВАХ?
        </div>
        <div class="block-answer">
          <router-link class="router__link_btn" to="/question2">
            <thebutton>Да</thebutton>
          </router-link>
          <thebutton>Нет</thebutton>
        </div>
        <div class="header__link textRoboto300-16">Онлайн предсказание</div>
        <div class="header__offer">
          <img class="header__offer-img" src="../assets/hands.png" alt="" />
          <div class="header__offer-info">
            <span class="textRoboto25-yellow text-color-white"
              >Позвольте нам раскрыть эту волнующую тайну и </span
            ><br />
            <span class="textRoboto25-yellow"
              >с точностью определить дату и время вашей смерти,
            </span>
            <span class="textRoboto25-yellow text-color-white"
              >а <br />
              также предшествующую этому событию причину</span
            >
          </div>
        </div>
      </div>
      <img class="aside__img" src="../assets/testBG.png" alt="" />
      <div class="aside">
        <div class="aside__info">
          <span class="textRoboto25-yellow text-color-white"
            >Многие не верят предсказаниям и мы решили доказать каждому, </span
          ><br />
          <span class="textRoboto25-yellow">
            что прогноз может изменить жизнь любого человека!
          </span>
        </div>
      </div>
      <img class="img__earth" src="../assets/earth.svg" alt="" />
      <img class="img__eye" src="../assets/eye.svg" alt="" />
      <div class="footer">
        <div class="footer__title textRoboto-25 text-color-yellow">
          Боитесь ли вы умереть?
        </div>
        <div class="block-answer">
          <thebutton>Да</thebutton>
          <thebutton>Нет</thebutton>
        </div>
        <div class="footer__question textRoboto300-16">Вопрос 1-5</div>
        <div class="footer__rune">
          <img src="../assets/rune1.svg" alt="" />
        </div>
      </div>
    </div>
    <div class="footer__movement">
      <div class="footer__text textBadScript25">
        Вы, конечно, умрете.<br />
        И все, с кем вы знакомы,<br />
        тоже однажды умрут.
      </div>
      <div class="footer__rune">
        <img src="../assets/rune2.svg" alt="" />
      </div>
    </div>
  </div>
</template>

<script>
import thebutton from "../components/TheButton.vue";
// import questiontwo from "./components/question_5-5.vue";

export default {
  name: "app",
  components: {
    thebutton,
  },
};
</script>

<style>
/*=========================================*/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html,
body {
  background-color: #e5e5e5ff;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
/*=========================================*/
.page-wrapper {
  background: #202024;
  max-width: 1920px;
  min-height: 100vh;
  padding-right: 79px;
}
.wrap {
  max-width: 1440px;
  position: relative;
}
.header {
  height: 1595px;
  position: relative;
}
.header__bg-blik {
  position: absolute;
  top: -5px;
  right: calc(100vw / 2 - 960px);
}
.header__up-info {
  height: 75px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 36px;
}
.header__result {
  padding-top: 12px;
  padding-bottom: 64px;
}
.block {
  position: relative;
  height: 346px;
  width: 346px;
}
.fotoBlockBorder {
  position: absolute;
  left: calc(346px / 2 - 392px / 2);
  top: calc(346px / 2 - 392px / 2);
  z-index: 5;
}
.fotoInner {
  border-radius: 100%;
  position: absolute;
  left: calc(346px / 2 - 239px / 2);
  top: calc(346px / 2 - 239px / 2);
  z-index: 10;
}
.header__question {
  width: 500px;
  height: 130px;
  margin-top: 23px;
  margin-bottom: 40px;
}
.block-answer {
  height: 175px;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__link {
  margin-top: 34px;
  margin-bottom: 143px;
}
.header__offer {
  width: 442px;
  height: 438px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  position: relative;
}
.header__offer-img {
  position: absolute;
  left: calc(442px / 2 - 156px / 2);
  top: calc(-156px / 2);
}
.header__offer-info {
  padding-top: 128px;
  text-align: center;
}
/*=========================================*/
.aside {
  height: 606px;
  position: relative;
}
.aside__img {
  position: absolute;
}
.aside__info {
  width: 380px;
  height: 258px;
  text-align: center;
  padding-top: 240px;
}
/*=========================================*/
.footer {
  height: 880px;
  max-width: 1440px;
  position: relative;
}
.footer__title {
  text-transform: uppercase;
  margin-top: 133px;
  margin-bottom: 47px;
}
.footer__question {
  margin-top: 35px;
  margin-bottom: 30px;
}
.footer__rune {
  padding: 85px 0 65px 0;
  height: 18px;
  width: 55px;
}
.footer__text {
  text-align: center;
  width: 310px;
  padding-top: 30px;
}
.footer__movement {
  width: 100%;
  position: absolute;
}
.img__earth {
  position: absolute;
  bottom: 55px;
  left: -47px;
}
.img__eye {
  position: absolute;
  bottom: 365px;
  right: -128px;
}
/*=========================================*/
/*text styles*/
.textBadScript25 {
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #ffffff;
}
.textRoboto300-16 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}
.textRoboto300-25 {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}
.textRoboto-25 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c866;
}
.textRoboto25-yellow {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 35px;
  text-align: center;
  color: #f6c866;
}
.text-color-white {
  color: #ffffff;
}
.text-color-yellow {
  color: #f6c866;
}
/*=========================================*/
@media screen and (max-width: 1440px) {
  .aside__img {
    left: calc(100vw / 2 - 720px);
  }
}
@media screen and (max-width: 1024px) {
  .page-wrapper {
    padding-right: 0;
  }
}
@media screen and (max-width: 520px) {
}
/*=========================================*/
</style>
