<template>
  <div class="question-wrapper">
    <div class="question-header">
      Уже совсем скоро Вы узнаете много интересного о своем будущем!
    </div>
    <div class="question-title">
      Укажите свою дату рождения:
    </div>
    <input
      v-model="dateOfBirth.day"
      class="question-input"
      type="number"
      step="1"
      min="1"
      max="31"
      placeholder="День"
    />
    <input
      v-model="dateOfBirth.mounth"
      class="question-input"
      type="number"
      step="1"
      min="1"
      max="12"
      placeholder="Месяц"
    />
    <input
      v-model="dateOfBirth.year"
      class="question-input"
      type="number"
      step="1"
      min="1900"
      max="2020"
      placeholder="Год"
    />
    <router-link class="router__link_btn" to="/question4">
      <thebutton class="question-button">Далее</thebutton>
    </router-link>
    <div class="question-text">Вопрос 3-5</div>
    <img class="question-img-earth" src="../assets/earth.svg" alt="" />
    <img class="question-img-eye" src="../assets/eye.svg" alt="" />
  </div>
</template>

<script>
import thebutton from "../components/TheButton.vue";

export default {
  name: "question3",
  components: {
    thebutton,
  },
  data() {
    return {
      dateOfBirth: {
        day: "",
        mounth: "",
        year: "",
      },
    };
  },
};
</script>

<style scoped>
.question-wrapper {
  min-height: 568px;
  min-width: 320px;
  background: #202024;
  position: relative;
}
.question-header {
  height: 125px;
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  padding: 22px 50px 22px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.question-button {
  width: 180px;
  height: 40px;
  margin: 15px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.question-title {
  padding: 40px 40px 20px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c866;
}
.question-input {
  width: 180px;
  height: 40px;
  margin: 15px auto;
  text-align: center;
  display: block;
  background: linear-gradient(
    90deg,
    rgba(228, 228, 228, 0.9) -6.2%,
    rgba(203, 203, 203, 0.9) 100%
  );
  border-radius: 50px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #202024;
  box-shadow: inset 1px 8px 5px 0px #888888;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.question-text {
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}
.question-img-earth {
  position: absolute;
  height: 70px;
  bottom: 30px;
  left: -20px;
}
.question-img-eye {
  position: absolute;
  height: 70px;
  top: 55px;
  right: -40px;
}
</style>
