<template>
  <div class="question-wrapper">
    <div class="question-header">
      Смерть родного человека – одно из тяжелейших испытаний в жизни каждого из
      нас!
    </div>
    <div class="question-title">
      Снятся ли Вам умершие люди?
    </div>
    <router-link class="router__link_btn" to="/question5">
      <thebutton class="question-button">Да</thebutton>
    </router-link>
    <router-link class="router__link_btn" to="/question5">
      <thebutton class="question-button">Нет</thebutton>
    </router-link>
    <router-link class="router__link_btn" to="/question5">
      <thebutton class="question-button">Иногда</thebutton>
    </router-link>
    <div class="question-text">Вопрос 4-5</div>
    <img class="question-img-earth" src="../assets/earth.svg" alt="" />
    <img class="question-img-eye" src="../assets/eye.svg" alt="" />
  </div>
</template>

<script>
import thebutton from "../components/TheButton.vue";

export default {
  name: "question4",
  components: {
    thebutton,
  },
};
</script>

<style scoped>
.question-wrapper {
  min-height: 568px;
  min-width: 320px;
  background: #202024;
  position: relative;
}
.question-header {
  height: 125px;
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
  opacity: 0.6;
  padding: 22px 50px 22px 50px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.question-button {
  width: 180px;
  height: 40px;
  margin: 15px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.question-title {
  padding: 40px 40px 20px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c866;
}
.question-text {
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}
.question-img-earth {
  position: absolute;
  height: 70px;
  bottom: 30px;
  left: -20px;
}
.question-img-eye {
  position: absolute;
  height: 70px;
  top: 55px;
  right: -40px;
}
</style>
