<template>
  <div class="question-wrapper">
    <div class="question-header">
      <div class="adding"></div>
      <div class="question-header-inner">
        По вам скучает очень близкий человек, которого больше нет в мире живых.
        Возможно это дедушка или бабушка.
      </div>
    </div>
    <div class="question-title">
      Запись, которую Вы услышите, может шокировать людей с неокрепшей психикой.
      Вы готовы узнать, что ждет именно Вас?
    </div>
    <router-link class="router__link_btn" to="/call-page">
      <thebutton class="question-button">Да</thebutton>
    </router-link>
    <thebutton class="question-button">Затрудняюсь ответить</thebutton>
    <div class="question-text">Вопрос 5-5</div>
    <img class="question-img-earth" src="../assets/earth.svg" alt="" />
    <img class="question-img-eye" src="../assets/eye.svg" alt="" />
  </div>
</template>

<script>
import thebutton from "../components/TheButton.vue";

export default {
  name: "question5",
  components: {
    thebutton,
  },
};
</script>

<style scoped>
.question-wrapper {
  min-height: 568px;
  min-width: 320px;
  background: #202024;
  position: relative;
}
.question-header {
  /*//////////////////////////*/
  height: 125px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 24px;
}
.question-header-inner {
  height: 84px;
  width: 259px;
  background: #ffffff;
  border-radius: 5px;
  font-family: Bad Script;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #202024;
  padding: 10px 12px 0 12px;
}
.adding {
  height: 15px;
  width: 15px;
  border: 15px solid transparent;
  border-top: 15px solid #fff;
  position: absolute;
  top: 105px;
  right: calc(100vw / 2 - 90px);
}
.question-button {
  width: 180px;
  height: 40px;
  margin: 15px auto;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
.question-title {
  padding: 40px 40px 20px 40px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c866;
}
.question-text {
  padding-top: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  letter-spacing: 0.1em;
  color: rgba(255, 255, 255, 0.6);
}
.question-img-earth {
  position: absolute;
  height: 70px;
  bottom: 30px;
  left: -20px;
}
.question-img-eye {
  position: absolute;
  height: 70px;
  top: 55px;
  right: -40px;
}
</style>
