<template>
  <div class="userprofile-wrap">
    <div @click="test" class="userprofile__block-avatar">
      <img src="../assets/test.png" alt="" class="userprofile__fotoBorder" />
      <img src="../assets/redwoman.png" alt="" class="userprofile__fotoInner" />
    </div>
    <div class="userprofile__parametrs">
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
      <div class="parametrs__item"></div>
    </div>
    <div class="userprofile__footer">
      TERMENI SI CONDITII: ACESTA ESTE UN SERVICIU DE DIVERTISMENT. PRIN
      FOLOSIREA LUI DECLARATI CA AVETI 18 ANI IMPLINITI,
    </div>
  </div>
</template>

<script>
import thebutton from "../components/TheButton";

export default {
  name: "call-page",
  components: {
    thebutton,
  },
  date() {
    return {
      userProfileObj: {},
      userName: "",
      userBirthDay: "",
      userGender: "",
      userMass: "",
      userHeight: "",
      userEyeColor: "",
      userHairColor: "",
      userSkin: "",
    };
  },
  methods: {
    // callRequest() {
    //   let data = fetch("https://swapi.dev/api/people/1/").then((resp) =>
    //     resp.json()
    //   );
    //   data.then((respons) => {
    //     this.userProfileObj = respons;
    //     console.log(respons);
    //   });
    // },
  },
  methods: {
    test() {
      this.userName = respons.name;
      this.userBirthDay = respons.birth_year;
      this.userGender = respons.gender;
      this.userMass = respons.mass;
      this.userHeight = respons.height;
      this.userEyeColor = respons.eye_color;
      this.userHairColor = respons.hair_color;
      this.userSkin = respons.skin_color;
      console.log(this.userName);
      console.log(this.userBirthDay);
      console.log(this.userGender);
      console.log(this.userMass);
      console.log(this.userHeight);
      console.log(this.userEyeColor);
      console.log(this.userHairColor);
      console.log(this.userSkin);
    },
  },
  mounted() {
    // this.callRequest();
  },
};
</script>

<style scoped>
.userprofile-wrap {
  min-height: 568px;
  min-width: 320px;
  background: #202024;
  position: relative;
}
.userprofile__block-avatar {
  position: relative;
  height: 200px;
  width: 100%;
}
.userprofile__fotoBorder {
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(100vw / 2 - 100px);
  top: 0px;
  z-index: 5;
}
.userprofile__fotoInner {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  position: absolute;
  left: calc(100vw / 2 - 120px / 2);
  top: 39px;
  z-index: 10;
}
.userprofile__parametrs {
  padding: 15px;
  width: 264px;
  height: 264px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  text-transform: uppercase;
  color: #f6c866;
}
.parametrs__item {
  width: 200px;
  height: 23px;
  background-color: #f6c866;
  margin-bottom: 5px;
  margin-top: 5px;
}
.userprofile__footer {
  width: 300px;
  height: 37px;
  margin-top: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 7px;
  line-height: 9px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: #9d9d9d;
}
</style>
