<template>
  <div class="btn">
    <slot></slot>
  </div>
</template>

<script>
export default {};
</script>

<style scoped>
.btn {
  height: 70px;
  width: 310px;
  background: linear-gradient(
    90deg,
    rgba(246, 200, 102, 0.9) -6.2%,
    rgba(254, 173, 53, 0.9) 100%
  );
  border-radius: 35px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #ffffff;
  transition: all 0.2s ease-out;
}
.btn:hover {
  cursor: pointer;
  transform: scale(1.04);
}
</style>
