<template><router-view /></template>

<script>
export default {
  name: "app",
  components: {},
};
</script>

<style>
/*=========================================*/
* {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
}
html,
body {
  background-color: #e5e5e5ff;
  width: 100%;
  position: relative;
  overflow-x: hidden;
}
.router__link_btn {
  text-decoration: none;
}
/*=========================================*/
</style>
